/* Tour page styles */

pre {
  font-family: 'Open Sans', sans-serif;
}

.heading{
  display: inline-block;
  margin: 0;
}

.card{
	text-align: center;;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}

h3 {
	display: inline-block;
}

/* Table */
caption {
  margin-bottom: 20px;
  font-size: 1.4em;
}

table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
}

th {
  background: #4a4d10;
  color: #fff;
  padding: 6px;
  text-align: left;
}

td{
	border-bottom: 1px solid #fff;
	text-align: left;
  padding: 15px;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
	table {
		width: 100%;
	}
}